
.form{
    max-width: 50%;
    background-color: #309158;
    margin: 0 auto !important;
    color: #f5f5f5;
    padding: 3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.input-field input{
    color: #f5f5f5 !important;
}
.input-field label{
    color: #f5f5f5
}
i.active{
    color: #f5f5f5 !important;
}
label.active{
    color: #e0c44f !important;
}
.form-heading{
    color: #f5f5f5;
    padding: 0 !important;
    margin: 0 !important;
}
.post-btn{
    background-color: #f5f5f5;
    color: #309158;
}
.post-btn:hover{
    background-color: #c66309 ;
    color: #f5f5f5;
}
.post-btn:active{
    background-color: #c66309 ;
    color: #f5f5f5;
}
.add-post-container{
    margin-top: 2rem;
}
 
@media screen and (max-width: 768px) {
    form{
        max-width: 90% !important;
    }
}
