@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

body{
    font-family: "Poppins";
    background-color: #fafafa !important;
}
h2{
    text-align: center;
    color: #353535 ;
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-shadow: 1px 2px 2px #353535;
    font-size: 3rem;
    text-transform:uppercase;
    letter-spacing: 1rem;
}
.card{
    background-color: #fafafa;
    color: #353535;
    margin: .5rem;
    text-align: center;
    box-shadow: #75bf8f65 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.card:hover{
    transform: scale(1.02);
    
}
.card-title{
    font-weight: 500 !important;
    font-size: 2rem !important;
    margin-left: 5px;
    position: relative;
    color: #309158;
}
.card-content{
    padding: 0 !important;
    margin-left: 5px;
    font-size: 1rem;
    position: relative;
    bottom: 1rem;
}
.card-image img{
    height: 200px !important;
    width: 100% !important;
}
.card-action{
    border-top: none !important;
}
.card-action a{
    color: #353535 !important;
    text-align: center !important;
    margin-right: 0 !important;
    padding: 2rem 0;
    font-size: 1rem;
    font-weight: 600;
}
.author{
    color: #c66409bb;
    font-weight: 600;
}
hr{
    width: 10rem;
    position: relative;
    bottom: 1.5rem;
    background-color: #309158;
}

.card-action:hover{
    background-color: white !important;
}
